
.list_btn_login {
    background: #01519a;
}
a.cus-btn-home i.fa.fa-home {
    color: #01519a !important;
}
.viewFilters a.theme-btn.active {
    background-color: #01519a;
    color: #fff;
}
.bv_header_breadcrumb h1 {
    background: #01519a !important;
    color: #fff !important;
}
.header-list-items {
    background: #01519a !important ;
}
.text-primary {
    color: #01519a !important;
    padding: 0 5px;
}

.bv_header_breadcrumb {
    outline: 2px solid #01519a;
}
.h1benefits{
    color: #01519a;
}

a.favbus.btn.top-btn.clicksnapsignup ,a.btn.dropdown-toggle.top-btn{
    color: #01519a !important;
}
.login_cart_icon i.fa.fa-shopping-cart {
    color: #01519a;
}

#menuToggle span{
background: #01519a;
}

.video_modal button {
    border: 1px solid #01519a;
    color: #01519a;
}

.center_text_no_profit h2 span {
    color: #01519a;
}

.search-wrapper .dropdown.sortby a {
    color: #01519a ;
}

li.active {
    background: #01519a;
}
.pagination a {
    color: #01519a;
}
a.btn-link.cus-top-pad,a#dropdownMenuButton13,button#themeswitcher {
    border: 1px solid #01519a;
    color: #01519a ;
}


li.sign_out_directory {
    border: 1px solid #01519a;
    color: #01519a;
}
.video_modal .btn {
    background: #01519a;
}

a.with-icon.btn-link.btn.btn-info.btn-lg:hover {
    border: 1px solid #01519a;
    color: #fff !important;
    background: #01519a !important;
}
.modal-header {
    border-bottom-color: #01519a !important;
    background-color: #01519a !important; 
}
   
   i.fa.fa-heart.menu-icon.red {
    color: red;
}
#menuToggle span,#menuToggle-mobile span {
   background: #01519a;
}
.center_text_no_profit h2 span {
    color: #01519a;
}
a.btn-link.cus-top-pad {
    border: 1px solid #01519a;
    color: #01519a ;
}
a.search_cont_but.form-control.businessNameSearch {
    background: #01519a;
    color: #fff;
}
#search_input_box input {
    border: 1px solid #01519a;
}
input.button.btn.login-submit {
    background: #01519a;
}
 button.list_btn_orgs.btn-free {
    background: #01519a !important;
}
.tab-block .tab-mnu .active{
    background: #01519a !important;
}
select.miles_count {
    border: 1px solid #01519a;
    border-radius: 4px;
}