/*
*
* Swiper
*/
.swiper-container {
	display: flex;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%;
	/* Fix of Webkit flickering */
	z-index: 1;
}
.swiper-container .text-strike-1::before {
	transform: rotate(-3.8deg) scale(0);
}

.swiper-container .swiper-slide-active .text-strike-1::before {
	transform: rotate(-3.8deg) scale(1);
}
.swiper-container-no-flexbox .swiper-slide {
	float: left;
}

.swiper-container-vertical > .swiper-wrapper {
	flex-direction: column;
}

.swiper-wrapper {
	position: relative;
	z-index: 1;
	display: flex;
	align-self: stretch;
	align-items: stretch;
	width: 100%;
	height: auto;
	min-height: inherit;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-container {
	flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
	transition-timing-function: ease-out;
	margin: 0 auto;
}

/* a11y */
.swiper-container .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	touch-action: pan-y;
}

.swiper-wp8-vertical {
	touch-action: pan-x;
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
	/* Windows 8 IE 10 fix */
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
	transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
	pointer-events: none;
}

.swiper-container-fade .swiper-slide .swiper-slide {
	pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto;
}

.swiper-lazy-preloader {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	z-index: 10;
	transform-origin: 50%;
	animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-position: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@keyframes swiper-preloader-spin {
	100% {
		transform: rotate(360deg);
	}
}

.swiper-slide > .vide__body,
.swiper-slide > .parallax_cnt {
	height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
	text-align: center;
	position: absolute;
	display: block;
	top: 50%;
	width: 47px;
	height: 47px;
	line-height: 47px;
	background: transparent;
	transform: translateY(-50%);
	will-change: transform;
	transition: all .3s ease-in-out;
	cursor: pointer;
	z-index: 10;
}

.swiper-button-prev::before,
.swiper-button-next::before {
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	transform: none;
	transition: inherit;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #ffffff;
	transition: inherit;
	z-index: -1;
}

.swiper-button-prev:hover::before,
.swiper-button-next:hover::before {
	transform: scale(1.4);
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
	border-radius: 50%;
	background: #7b498f;
}

@media (min-width: 768px) {
	.swiper-button-prev,
	.swiper-button-next {
		display: block;
	}
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	opacity: 0.35;
	cursor: auto;
	pointer-events: none;
}

.swiper-button-prev {
	left: 15px;
}

.swiper-button-prev:before {
	margin-left: -4px;
	border-width: 5px 8px 5px 0;
	border-right-color: #7b498f;
}

.swiper-button-prev:hover::before {
	border-right-color: #ffffff;
}

.swiper-button-prev:hover::after {
	transform: rotate(-360deg);
}

@media (min-width: 1600px) {
	.swiper-button-prev {
		left: 0px;
	}
}

.swiper-button-next {
	right: 15px;
}
@media (max-width: 767px) {
	.swiper-button-prev {
		left: 0px;
	}
    .swiper-button-next {
	right: 0px;
}
}
.swiper-button-next:before {
	margin-right: -4px;
	border-width: 5px 0 5px 8px;
	border-left-color: #7b498f;
}

.swiper-button-next:hover::before {
	border-left-color: #ffffff;
}

.swiper-button-next:hover::after {
	transform: rotate(360deg);
}

@media (min-width: 1600px) {
	.swiper-button-next {
		right: 0px;
	}
}

.swiper-slider.swiper-container-rtl .swiper-button-prev::before {
	content: "\f061";
}

.swiper-slider.swiper-container-rtl .swiper-button-next::before {
	content: "\f060";
}

.swiper-pagination {
	position: absolute;
	display: none;
	text-align: center;
	transform: translate3d(0, 0, 0);
	transition: .3s;
	z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0;
}

.swiper-pagination.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer;
}

.swiper-pagination-bullet {
	text-align: center;
	display: inline-block;
	position: relative;
	width: 14px;
	height: 14px;
	border: none;
	border-radius: 0;
	outline: none;
	transition: .2s;
	background: rgba(66, 97, 228, 0.6);
}

.swiper-pagination-bullet:hover, .swiper-pagination-bullet:focus {
	background: #7b498f;
}

.swiper-pagination-bullet-active {
	background: #50ba87;
}

.swiper-pagination-style-2 .swiper-pagination {
	font-size: 0;
	line-height: 0;
}

.swiper-pagination-style-2 .swiper-pagination-bullet {
	background: transparent;
}

.swiper-pagination-style-2 .swiper-pagination-bullet::before, .swiper-pagination-style-2 .swiper-pagination-bullet::after {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.swiper-pagination-style-2 .swiper-pagination-bullet::before {
	background: rgba(66, 97, 228, 0.6);
	transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.swiper-pagination-style-2 .swiper-pagination-bullet::after {
	opacity: 0;
	background: #50ba87;
	transform: translateY(-200%);
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
}

.swiper-pagination-style-2 .swiper-pagination-bullet:hover, .swiper-pagination-style-2 .swiper-pagination-bullet:focus {
	background: transparent;
}

.swiper-pagination-style-2 .swiper-pagination-bullet:hover::before, .swiper-pagination-style-2 .swiper-pagination-bullet:focus::before {
	background: #7b498f;
}

.swiper-pagination-style-2 .swiper-pagination-bullet-active {
	background: transparent;
}

.swiper-pagination-style-2 .swiper-pagination-bullet-active::after {
	opacity: 1;
	visibility: visible;
	transform: translateY(0%);
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.swiper-pagination-style-2 .swiper-pagination-bullet-active::before {
	opacity: 0;
	visibility: hidden;
	transform: translateY(200%);
}

.swiper-pagination-black .swiper-pagination-bullet {
	background: rgba(0, 0, 0, 0.6);
}

.swiper-pagination-black .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: black;
}

.swiper-container-vertical > .swiper-pagination {
	top: 50%;
	right: 10px;
	transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
	margin: 8px 0;
	display: block;
}

.swiper-container-vertical.swiper-pagination-style-2 .swiper-pagination-bullet::after {
	transform: translate3d(-200%, 0, 0);
}

.swiper-container-vertical.swiper-pagination-style-2 .swiper-pagination-bullet-active::before {
	transform: translate3d(200%, 0, 0);
}

.swiper-container-vertical.swiper-pagination-style-2 .swiper-pagination-bullet-active::after {
	transform: translate3d(0%, 0, 0);
}

.swiper-container-horizontal > .swiper-pagination {
	bottom: 30px;
	left: 0;
	width: 100%;
}

.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
	margin: 0 10px;
}

.swiper-slide {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	background-position: 50% 50%;
}

.swiper-slide:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 1200px) {
	.swiper-slide:before {
		opacity: 0;
	}
}

.swiper-slide-caption {
	width: 100%;
	white-space: normal;
}

@media (max-width: 767px) {
	.swiper-slide-caption {
		padding-bottom: 0px;
	}
}

.swiper-slider-classic {
	max-height: 38.54167vw;
	min-height: calc(100vh - 56px);
}

.swiper-slider-classic.swiper-container-horizontal {
	max-height: none;
}

@media (max-height: 420px) {
	.swiper-slider-classic {
		min-height: 260px;
	}
	.swiper-slider-classic p {
		display: none;
	}
}

.swiper-slider-classic .swiper-pagination-bullet {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 29px;
	height: 19px;
	border-radius: 0;
	background: transparent;
}

.swiper-slider-classic .swiper-pagination-bullet::before, .swiper-slider-classic .swiper-pagination-bullet::after {
	position: absolute;
	display: inline-block;
	content: '';
	top: 8px;
	left: 0;
	height: 3px;
	width: 29px;
	transition: none;
	opacity: 1;
}

.swiper-slider-classic .swiper-pagination-bullet::before {
	background: #ffffff;
}

@media (min-width: 1600px) {
	.swiper-slider-classic .swiper-pagination-bullet::before {
		background: #252525;
	}
}

.swiper-slider-classic .swiper-pagination-bullet::after {
	transform: translateX(-100%);
	animation: pagOutX .3s;
	background: #7b498f;
}

.swiper-slider-classic .swiper-pagination-bullet:hover, .swiper-slider-classic .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: transparent;
}

.swiper-slider-classic .swiper-pagination-bullet:hover::after, .swiper-slider-classic .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
	animation: pagInX .3s forwards;
}

.swiper-slider-classic .swiper-pagination {
	position: static;
	transform: none;
}

.swiper-slider-classic .swiper-pagination .swiper-pagination-bullet {
	margin: 0 16px;
}

.swiper-slider-classic h1 {
	letter-spacing: .05em;
}

.swiper-slider-classic * + p {
	margin-top: 14px;
}

.swiper-slider-classic * + .button {
	margin-top: 25px;
}

.swiper-slider-classic .swiper-slide-1 {
	background-position-x: 40%;
}

@media (min-width: 768px) {
	.swiper-slider-classic {
		min-height: 460px;
	}
	.swiper-slider-classic.swiper-container-vertical .swiper-pagination-bullet {
		display: block;
	}
	.swiper-slider-classic.swiper-container-vertical .swiper-pagination .swiper-pagination-bullet {
		margin: 0;
	}
	.swiper-slider-classic.swiper-container-vertical .swiper-pagination__module {
		top: 50%;
		right: 20px;
		bottom: auto;
		left: auto;
		max-width: 29px;
		transform: translateY(-50%);
	}
	.swiper-slider-classic .swiper-slide-caption {
		padding-left: 70px;
		padding-right: 70px;
	}
	.swiper-slider-classic .swiper-slide-1 {
		background-position-x: 50%;
	}
	.swiper-slider-classic .swiper-slide-custom {
		padding-left: 0;
	}
	.swiper-slider-classic h1 {
		font-size: 60px;
	}
}

@media (min-width: 992px) {
	.swiper-slider-classic .swiper-slide-custom {
		padding-left: 70px;
	}
	.swiper-slider-classic h1 {
		font-size: 80px;
	}
}

@media (min-width: 1200px) {
	.swiper-slider-classic.swiper-container-horizontal {
		min-height: 38.54167vw;
	}
	.swiper-slider-classic h1 {
		font-size: 100px;
	}
}

@media (min-width: 1600px) {
	.swiper-slider-classic {
		max-width: 1920px;
		padding: 0 75px;
	}
}

.swiper-slider-classic-2 .swiper-pagination__fraction-index {
	color: #50ba87;
}

.swiper-slider-classic-2 .swiper-pagination-bullet::after {
	background: #50ba87;
}

.swiper-slider-classic-2 .context-dark .button.button-ujarak::before {
	background: #50ba87;
}

.swiper-slider-classic-2 .context-dark .button.button-ujarak:hover, .swiper-slider-classic-2 .context-dark .button.button-ujarak:active {
	border-color: #50ba87;
}

.swiper-slider-classic-2 .button {
	min-width: 175px;
}

.swiper-slider-classic-2 .swiper-title-2 {
	letter-spacing: .025em;
	font-weight: 400;
}

.swiper-slider-classic-2 h2 {
	letter-spacing: .075em;
}

.swiper-slider-classic-2 .swiper-slide-custom * + .button {
	margin-top: 20px;
}

@media (min-width: 768px) {
	.swiper-slider-classic-2 .swiper-slide-custom * + .button {
		margin-top: 30px;
	}
}

@media (min-width: 1200px) {
	.swiper-slider-classic-2 .swiper-title-2 {
		font-size: 110px;
	}
}

.swiper-pagination__module {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0;
	line-height: 0;
	position: absolute;
	bottom: 25px;
	width: 100%;
	z-index: 1;
}

.swiper-pagination__fraction {
	display: none;
	font-size: 18px;
	line-height: 1;
	font-weight: 500;
	letter-spacing: 0;
	font-family: "Maven Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	color: #9b9b9b;
	transform: rotate(-90deg);
}

.swiper-pagination__fraction-index {
	color: #7b498f;
}

.swiper-pagination__divider {
	display: none;
	margin: 30px 0 8px;
	width: 1px;
	height: 176px;
	background: #e1e1e1;
}

@media (min-width: 1600px) {
	.swiper-pagination__fraction {
		display: inline-block;
	}
	.swiper-pagination__divider {
		display: inline-block;
	}
}

.swiper-slider-modern {
	min-height: 21vw;
}

.swiper-slider-modern .swiper-slide {
	background-position: 0 50%;background-position: center;
}

.swiper-slider-modern .swiper-slide-caption {
	padding-top: 60px;
}

.swiper-slider-modern .swiper-button-prev,
.swiper-slider-modern .swiper-button-next {
	transform: none;
	top: 38%;
}

.swiper-slider-modern .slider-modern-title {
	line-height: 1.115;
	font-weight: 500;
	text-transform: none;
	letter-spacing: 0;
}

.swiper-slider-modern .slider-modern-title span {
	display: inline-block;
}

.swiper-slider-modern .button {
	min-width: auto;
	padding-left: 40px;
	padding-right: 40px;
}

.swiper-slider-modern p {
	font-size: 18px;
	line-height: 1.625;
	font-weight: 400;
	letter-spacing: 0;
}

.swiper-slider-modern * + p {
	margin-top: 5px;
}

.swiper-slider-modern * + .button-wrap {
	margin-top: 30px;
}

@media (max-width: 575px) {
	.swiper-slider-modern .swiper-slide {
		background-position: 30% 50%;
	}
}

@media (min-width: 768px) {
	.swiper-slider-modern .swiper-slide-caption {
		padding-top: 00px;
		padding-bottom: 0px;
	}
	.swiper-slider-modern .slider-modern-box {
		margin-left: 20px;
	}
	.swiper-slider-modern .modern-box-right {
		max-width: 500px;
	}
	.swiper-slider-modern .swiper-pagination {
		display: none;
	}
}

@media (min-width: 992px) {
	.swiper-slider-modern .swiper-slide-caption {
		padding-top: 00px;
		padding-bottom: 00px;
	}
	.swiper-slider-modern .slider-modern-box {
		margin-left: 20px;
	}
}

@media (min-width: 1200px) {
	.swiper-slider-modern .swiper-slide-caption {
		padding-top: 0;
		padding-bottom: 0px;
	}
	.swiper-slider-modern * + .button-wrap {
		margin-top: 40px;
	}
}

@media (min-width: 1600px) {
	.swiper-slider-modern .slider-modern-box {
		margin-left: 24px;
	}
}

@media (min-width: 1600px) {
	.slider-modern-box {
		margin-left: 90px;
	}
}

.swiper-slider-creative {
	min-height: 34.42708vw;
}

.swiper-slider-creative .swiper-slider-text {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
	letter-spacing: 0;
}

.swiper-slider-creative .button {
	min-width: 175px;
}

.swiper-slider-creative h1 {
	letter-spacing: .025em;
}

.swiper-slider-creative hr {
	max-width: 78%;
	margin-left: 0;
	border-color: rgba(255, 255, 255, 0.48);
}

.swiper-slider-creative h4 {
	font-weight: 300;
	letter-spacing: .05em;
}

.swiper-slider-creative * + hr,
.swiper-slider-creative * + .swiper-slider-text {
	margin-top: 12px;
}

.swiper-slider-creative * + .swiper-creative-decor {
	margin-top: 16px;
}

.swiper-slider-creative h1 + h4 {
	margin-top: 2px;
}

.swiper-slider-creative * + .button-wrap {
	margin-top: 30px;
}

.swiper-slider-creative .swiper-slider-text + .button,
.swiper-slider-creative .swiper-slider-text + .button-wrap {
	margin-top: 30px;
}

.swiper-slider-creative .swiper-pagination {
	font-size: 0;
	line-height: 0;
	counter-reset: span;
	bottom: 20px;
}

.swiper-slider-creative .swiper-pagination-bullet {
	width: 35px;
	height: 23px;
	padding: 10px 0;
	background: transparent;
}

.swiper-slider-creative .swiper-pagination-bullet::after {
	display: inline-block;
	position: absolute;
	content: '';
	left: 50%;
	top: 50%;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: transparent;
	transform: scale(0, 0) translate3d(-50%, -50%, 0) rotate(0.1deg);
	will-change: transform;
	transition: inherit;
	transform-origin: 0 0;
}

.swiper-slider-creative .swiper-pagination-bullet span {
	display: inline-block;
	height: 3px;
	width: 100%;
	background: #ffffff;
	transition: all .3s ease;
}

.swiper-slider-creative .swiper-pagination-bullet:hover::after,
.swiper-slider-creative .swiper-pagination-bullet-active::after {
	background: #ffffff;
	transform: scale(1, 1) translate3d(-50%, -50%, 0) rotate(0.1deg);
	transition-delay: .1s;
}

.swiper-slider-creative .swiper-pagination-bullet:hover span,
.swiper-slider-creative .swiper-pagination-bullet-active span {
	width: 0;
}

@media (max-width: 575px) {
	.swiper-slider-creative .swiper-slide {
		background-position-x: 35%;
	}
	.swiper-slider-creative .swiper-slide::before {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.15);
		z-index: -1;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.swiper-slider-creative h4 {
		font-size: 30px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {
	.swiper-slider-creative .swiper-slide-2 {
		background-position-x: 60%;
	}
	.swiper-slider-creative .swiper-slide-3 {
		background-position-x: 55%;
	}
}

@media (min-width: 768px) {
	.swiper-slider-creative .swiper-pagination {
		bottom: 30px;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.swiper-slider-creative .swiper-slide-2 {
		background-position-x: 70%;
	}
	.swiper-slider-creative .swiper-slide-3 {
		background-position-x: 60%;
	}
}

@media (min-width: 992px) {
	.swiper-slider-creative * + .button,
	.swiper-slider-creative * + .button-wrap {
		margin-top: 40px;
	}
}

@media (min-width: 1200px) {
	.swiper-slider-creative h1 {
		font-size: 110px;
	}
}

@media (min-width: 1600px) {
	.swiper-slider-creative .swiper-pagination {
		top: 50%;
		right: 134px;
		bottom: auto;
		left: auto;
		width: auto;
		transform: translate3d(0, -50%, 0);
	}
	.swiper-slider-creative .swiper-pagination .swiper-pagination-bullet {
		margin: 4px 0;
	}
	.swiper-slider-creative .swiper-pagination-bullet {
		display: block;
		width: 21px;
		height: 21px;
	}
	.swiper-slider-creative .swiper-pagination-bullet::before {
		display: inline-block;
		position: absolute;
		content: counter(span, decimal);
		counter-increment: span;
		top: 60%;
		left: -22px;
		font-size: 24px;
		line-height: 1;
		letter-spacing: .05em;
		font-weight: 500;
		font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
		color: #ffffff;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(-20px, -50%, 0);
		will-change: transform;
		transition: inherit;
	}
	.swiper-slider-creative .swiper-pagination-bullet::after {
		left: 1px;
		width: 5px;
		height: 5px;
		transform: scale(0, 0) translate3d(0, -50%, 0) rotate(0.1deg);
		transform-origin: 50% 0;
	}
	.swiper-slider-creative .swiper-pagination-bullet span {
		height: 1px;
	}
	.swiper-slider-creative .swiper-pagination-bullet:hover::after,
	.swiper-slider-creative .swiper-pagination-bullet-active::after {
		transform: scale(1, 1) translate3d(0, -50%, 0) rotate(0.1deg);
		transition-delay: 0s;
	}
	.swiper-slider-creative .swiper-pagination-bullet:hover span,
	.swiper-slider-creative .swiper-pagination-bullet-active span {
		width: 100%;
		transform: translate3d(24px, 0, 0);
	}
	.swiper-slider-creative .swiper-pagination-bullet-active::before {
		opacity: 1;
		visibility: visible;
		transform: translate3d(0, -50%, 0);
	}
	.swiper-slider-creative .swiper-pagination-bullet-active span {
		width: 340%;
	}
	.swiper-slider-creative .swiper-pagination-bullet-active:hover span {
		width: 340%;
	}
}

.swiper-slider-corporate {
	min-height: calc(100vh - 56px);
}

.swiper-slider-corporate.swiper-container-horizontal .swiper-pagination .swiper-pagination-bullet {
	margin: 0 12px;
}

.swiper-slider-corporate.swiper-container-vertical {
	max-height: 35.3125vw;
}

.swiper-slider-corporate.swiper-container-vertical .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
}

@media (max-height: 370px) {
	.swiper-slider-corporate {
		min-height: 310px;
	}
}

.swiper-slider-corporate .swiper-pagination-bullet::before {
	background: rgba(255, 255, 255, 0.33);
}

.swiper-slider-corporate .swiper-pagination-bullet::after {
	background: #7b498f;
}

.swiper-slider-corporate .swiper-pagination-bullet:hover::before {
	background: rgba(255, 255, 255, 0.7);
}

.swiper-slider-corporate .button {
	min-width: 180px;
}

.swiper-slider-corporate h6 {
	font-weight: 400;
	letter-spacing: .15em;
	color: #50ba87;
}

.swiper-slider-corporate h6 + h2 {
	margin-top: 16px;
}

.swiper-slider-corporate * + .button-wrap {
	margin-top: 20px;
}

@media (min-width: 768px) {
	.swiper-slider-corporate {
		min-height: 370px;
	}
	.swiper-slider-corporate.swiper-container-vertical {
		min-height: 400px;
	}
	.swiper-slider-corporate h6 + h2 {
		margin-top: 28px;
	}
	.swiper-slider-corporate * + .button-wrap {
		margin-top: 30px;
	}
}

@media (min-width: 992px) {
	.swiper-slider-corporate.swiper-container-horizontal {
		min-height: 400px;
	}
	.swiper-slider-corporate.swiper-container-vertical .swiper-pagination {
		right: 6%;
	}
}

@media (min-width: 1200px) {
	.swiper-slider-corporate.swiper-container-horizontal {
		min-height: 35.3125vw;
	}
}

@media (min-width: 1600px) {
	.swiper-slider-corporate.swiper-container-vertical .swiper-pagination {
		top: 43%;
		right: 11.5%;
		transform: none;
	}
}

.swiper-slider-tara {
	min-height: 35.36458vw;
}

.swiper-slider-tara.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
	margin: 0 6px;
}

.swiper-slider-tara .swiper-pagination {
	bottom: 0;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	width: auto;
	min-width: 155px;
	font-size: 0;
	line-height: 0;
	padding: 17px 20px 10px;
	background: #ffffff;
}

.swiper-slider-tara .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: transparent;
	border: 3px solid #d7d7d7;
	transition: all .1s ease-in-out;
}

.swiper-slider-tara .swiper-pagination-bullet::before, .swiper-slider-tara .swiper-pagination-bullet::after {
	position: absolute;
	content: '';
	opacity: 0;
	border-radius: inherit;
}

.swiper-slider-tara .swiper-pagination-bullet::before {
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	background: #50ba87;
	transform: translate3d(-50%, -400%, 0);
	transition: all .2s ease;
}

.swiper-slider-tara .swiper-pagination-bullet::after {
	top: -3px;
	right: -3px;
	bottom: -3px;
	left: -3px;
	border: 3px solid #7b498f;
	transform: scale(1.6);
	transition: all .3s ease;
}

.swiper-slider-tara .swiper-pagination-bullet-active::before, .swiper-slider-tara .swiper-pagination-bullet:hover::before {
	opacity: 1;
	transform: translate3d(-50%, -50%, 0);
}

.swiper-slider-tara .swiper-pagination-bullet-active {
	border-color: transparent;
}

.swiper-slider-tara .swiper-pagination-bullet-active::after {
	opacity: 1;
	transform: none;
}

.swiper-slider-tara .swiper-title {
	font-weight: 300;
}

.swiper-slider-tara .swiper-subtitle {
	font-weight: 400;
	color: #4d9b75;
}

.swiper-slider-tara .button {
	min-width: 176px;
}

.swiper-slider-tara .button.button-ujarak:not([class*='button-primary'])::before {
	background: #50ba87;
}

.swiper-slider-tara .button.button-ujarak:not([class*='button-primary']):hover, .swiper-slider-tara .button.button-ujarak:not([class*='button-primary']):active {
	border-color: #50ba87;
}

.swiper-slider-tara * + .swiper-title {
	margin-top: 16px;
}

.swiper-slider-tara * + .button,
.swiper-slider-tara * + .button-wrap {
	margin-top: 20px;
}

@media (max-width: 575px) {
	.swiper-slider-tara .swiper-slide::before {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(255, 255, 255, 0.2);
		pointer-events: none;
	}
}

@media (min-width: 768px) {
	.swiper-slider-tara .swiper-pagination {
		right: 0;
		left: auto;
		transform: none;
		padding-bottom: 17px;
	}
}

@media (min-width: 992px) {
	.swiper-slider-tara .swiper-title {
		line-height: 1.2;
	}
	.swiper-slider-tara .swiper-subtitle {
		letter-spacing: .15em;
	}
	.swiper-slider-tara * + .swiper-title {
		margin-top: 22px;
	}
}
@media (max-width: 1023px) {
    .swiper-slider-modern {min-height: 15vw;}
    .swiper-slider-modern * + .button-wrap {margin-top: 10px;}
}
@media (max-width: 767px) {
    .swiper-button-prev, .swiper-button-next{width:36px;height:36px;line-height:36px;}
    .swiper-slider-modern .swiper-button-prev, .swiper-slider-modern .swiper-button-next {transform: none;top: 36%;}
    .swiper-button-prev::after,.swiper-button-next::after {background: #ffffff;}
    .swiper-slider-modern {min-height: 10vw;}
}