
.list_btn_login {
    background: #01519a;
}
a.cus-btn-home i.fa.fa-home {
    color: #01519a !important;
}
a.nivo-prevNav i.fa.fa-angle-left {
    color: #01519a !important;
}
.em-nivo-slider-wrapper .nivo-directionNav a{
    border: 1px solid #01519a !important;
}
.viewFilters a.theme-btn.active {
    background-color: #01519a;
    color: #fff;
}
.bv_header_breadcrumb h1 {
    background: #01519a !important;
    color: #fff !important;
}
.header-list-items {
    background: #01519a !important ;
}
.section-full-div{
    background: #01519a !important ;
}
.text-primary {
    color: #01519a !important;
    padding: 0 5px;
}
.text-primarylight {
    color: #99B9D6 !important;
}

.bv_header_breadcrumb {
    outline: 2px solid #01519a;
}
.sortenoption{
    background: #01519a !important;
    color:#fff !important;    
}

a.favbus.btn.top-btn.clicksnapsignup ,a.btn.dropdown-toggle.top-btn{
    color: #01519a;
}
.login_cart_icon i.fa.fa-shopping-cart {
    color: #01519a;
}

#menuToggle span{
background: #01519a;
}

.video_modal button {
    border: 1px solid #01519a;
    color: #01519a;
}

.center_text_no_profit h2 span{
    color: #01519a;
}
.center_text_no_profit i {
    background: #01519a;
}

.search-wrapper .dropdown.sortby a {
    color: #01519a ;
}

li.active {
    background: #01519a;
}
.pagination a {
    color: #01519a;
}
a.btn-link.cus-top-pad,a#dropdownMenuButton13,button#themeswitcher {
    border: 1px solid #01519a;
    color: #01519a ;
}


li.sign_out_directory {
    border: 1px solid #01519a;
    color: #01519a;
}
.video_modal .btn {
    background: #01519a;
}

a.with-icon.btn-link.btn.btn-info.btn-lg:hover {
    border: 1px solid #01519a;
    color: #fff !important;
    background: #01519a !important;
}
.modal-header {
    border-bottom-color: #01519a !important;
    background-color: #01519a !important; 
}
   
   i.fa.fa-heart.menu-icon.red {
    color: red;
}
#menuToggle span,#menuToggle-mobile span {
   background: #01519a;
}
.center_text_no_profit h2 span {
    color: #01519a;
}
a.btn-link.cus-top-pad {
    border: 1px solid #01519a;
    color: #01519a ;
}
a.search_cont_but.form-control.businessNameSearch {
    background: #01519a;
    color: #fff;
}
#search_input_box input {
    border: 1px solid #01519a;
}
input.button.btn.login-submit {
    background: #01519a;
}
 button.list_btn_orgs.btn-free {
    background: #01519a !important;
}
.tab-block .tab-mnu .active{
    background: #01519a !important;
}
select.miles_count {
    border: 1px solid #01519a;
    border-radius: 4px;
}
#audiomodal .modal-content {
    background: #01519a;
}
.themecolor {
    color: #01519a !important;
}
#menu-bar{
  box-shadow: 0 0 16px 0px #01519a !important;  
}
.tooltip {
 background: #01519a;
}
.boxex {
    border: 3px solid #01519a;
}
.colorchange1 {
    color: #01519a;
}
.nav-pills a.nav-link {
    background-color: #01519a !important;
}
.round {
  background-image:
    linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(135deg, #fff 50%, transparent 50%),
    radial-gradient(#01519a 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}
.round1 {
  background-image:
    linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(135deg, #fff 50%, transparent 50%),
    radial-gradient(#01519a 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(99.5% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.7em 1.7em;
  background-repeat: no-repeat;
}
li.dropdown.sortby.backgroundfff.section-full-div .round1 {
    background-image: linear-gradient(45deg, transparent 50%, #fff 50%),
    linear-gradient(135deg, #fff 50%, transparent 50%),
    radial-gradient(#01519a 70%, transparent 72%);
    background-position: calc(100% - 20px) calc(1em + 0px),
    calc(100% - 15px) calc(1em + 0px),
    calc(100.0% - 0.5em) 0.2em;
    background-size: 5px 5px,
    5px 5px,
    1.7em 1.7em;
    background-repeat: no-repeat;
}
@media (max-width: 767px){
.round1 {
    background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), radial-gradient(#01519a 70%, transparent 72%);
    background-position: calc(100% - 20px) calc(1em + 0px), calc(100% - 15px) calc(1em + 0px), calc(100.5% - 0.5em) 0.2em;
    background-size: 5px 5px, 5px 5px, 1.7em 1.7em;
    background-repeat: no-repeat;
}
}